#calendar {  
    max-width: 900px;
    margin: 40px auto;
} 
      
.fc-event { 
    background-color: #4CAF50 !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    font-size: 13px;
    padding: 2px 6px;
    border-radius: 4px;
    text-align: center;
}


.fc .fc-event {
    background-color: #4CAF50!important;
    border-color: #4CAF50 !important;
    color: white !important;
} 
 
.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-number {
    font-family: 'Igia', sans-serif;
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: white !important;
    font-weight: bold;
}